/* Add a black background color to the top navigation */
.topnav {
    background-color: #a7d3d9;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffffff;
    color: rgb(8, 154, 164);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2294ae;
    color: white;
  }

  .left, .center, .right {
    display: -webkit-inline-flex;
  }


  .left2, .center2, .right2 {
    display: -webkit-inline-flex;
  }